body {
  font-family: 'Roboto', sans-serif;
}


.navbar {
  margin-top: 1vw;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  color: black;
}

.pad {
 padding-top: 5vh;
 padding-bottom: 5vh;
 color:black;
}
 

