body {
  font-family: 'Roboto', sans-serif;
  background-color: azure;
}

.bold-text {
  font-weight: bold;
}

.navbar {
  margin-top: 1vw;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  color: midnightblue;
}

.pad {
 padding-top: 5vh;
 padding-bottom: 5vh;
 color:black;
}
 

